.comment-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem 0;
    width: 100%;
    
}

.comment-item > ul{
    align-self: flex-end;
    width: 90%;
    margin: 1rem 0 0;
}

.comment-item > ul > *{
    margin-top: 1rem;
}

