.feedback{
    width: 100%;
    height: 100%;
    background-color: #F7F8FD;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}

.feedback-card{
    position: absolute;
    top: 100px;
    width: 90%;
    padding: 2.5rem 1rem 1rem;
    color: #3A4374;
}

.feedback-card > img{
    position: absolute;
    top:-28px;
}


.feedback-card .option-box{
    text-align: start;
    border: none;
    border-radius: 10px;
    width: 100%;
    background-color: #F7F8FD;
    padding: 1rem;
}

.feedback-card .form-control{
    position: relative;
    margin-top: 1.5rem;
} 

.feedback-card .form-control > *{
    display: block;
}

.feedback-card .form-control > label{
    font-weight: 600;
}

.feedback-card .form-control > small{
    margin-bottom: 1rem;
}

.feedback-card .form-control .dropdown{
    position: absolute;
    top: -1rem;
    z-index: 2️⃣;
} 

.feedback-card form > button{
    margin-top: 1rem;
    width: 100%;
}

@media (min-width: 1024px) {
    .feedback{
        width: 60%;
        margin: auto;
    }
}

