.feedback-header{
    position: fixed;
    z-index: 1;
    height: 72px;
    width: 100%;
    padding: 0 1rem;
    background-color: #F7F8FD;
    color: #647196;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 1024px) {
    .feedback-header{
        position: relative;
    }
}